parameters:
    level: 5
    paths:
        - src/
        - tests/
    excludePaths:
        # Symfony <5.4 BC layer
        - src/DependencyInjection/Security/Factory/OAuthFactory.php
        - src/Security/Core/Authentication/Provider/OAuthProvider.php
        - src/Security/Core/Exception/AccountNotLinkedException.php
        - src/Security/Core/User/OAuthAwareUserProviderInterface.php
        - src/Security/Http/Firewall/OAuthListener.php
        - tests/Security/Core/Authentication/Provider/OAuthProviderTest.php

        - vendor/*
    # Symfony <5.4 BC layer
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \$event of method HWI\\Bundle\\OAuthBundle\\Controller\\Connect\\AbstractController::dispatch\(\) has invalid type Symfony\\Component\\EventDispatcher\\Event.#'
        - '#Parameter \#2 \$array of function implode expects array<string>, array<int, array\|string\|null> given.#'
        - '#PHPDoc type DOMNode of property HWI\\Bundle\\OAuthBundle\\OAuth\\Response\\SensioConnectUserResponse::\$data is not covariant with PHPDoc type array of overridden property HWI\\Bundle\\OAuthBundle\\OAuth\\Response\\AbstractUserResponse::\$data#'
        - '#Call to function method_exists\(\) with Symfony\\Component\\Security\\Http\\Authenticator\\Debug\\TraceableAuthenticator#'
