<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">

    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
        <exclude>
            <directory>./src/Resources</directory>
        </exclude>
    </coverage>

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=5"/>
        <env name="KERNEL_CLASS" value="HWI\Bundle\OAuthBundle\Tests\App\AppKernel"/>
    </php>

    <testsuites>
        <testsuite name="HWIOAuthBundle test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
