<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">

    <php>
        <!-- Allowing 4 deprecations related to changes in Symfony Security 5.3+ -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=4" />
    </php>

    <testsuites>
        <testsuite name="HWIOAuthBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
