<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% if error %}
                <span>{{ error }}</span>
            {% endif %}
            {% for owner in resource_owners %}
            <a href="{{ owner.url }}">{{ owner.name | trans }}</a> <br />
            {% endfor %}
        </div>
    </body>
</html>

