{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    <h3>Successfuly registered and connected the account '{{ app.user.username }}'!</h3>
{% endblock hwi_oauth_content %}
